<h1><%=@post.title%></h1>
<h3>Posted by: <%=@post.user.username%> on <%=@post.created_at%></h3>
<h3>Number of Views: <%=@post.hits%> </h3>

<p>Back to <%= link_to "Post Central", posts_path%></p>

<%= form_for @post do |f| %>
<%= f.text_area :content%>
<%end%>

<br>
<ul>
  <%@comments.each do |c|%>
  <li><%= c.content %></li>
  <%end%>
</ul>
<br>

<%= form_for @comment do |f|%>
<%= f.label :content %>
<%= f.text_area :content %>
<%= f.collection_select :post_id,Post.all,:id,:title %>
<%= f.submit %>
<%end%>
